<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title>Administration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-card>
                <ion-card-header>
                    <ion-card-title padding>Connexion</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-input type="password" padding [(ngModel)]="password"></ion-input>
                </ion-card-content>
            </ion-card>
        </ion-item>
        <ion-button padding (click)="goToAdministration()">Log In</ion-button>
    </ion-list>
</ion-content>
