  ion-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  
  ion-card-content{
      border: 0.1rem solid grey;   
  }

  ion-input{
      font-size: 1.5em;
  }

  ion-button {
      display: block;
      height: 60px;
      margin: auto;
  }