<ion-header>
  <ion-toolbar>
    <ion-title>Points d'interets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let endroit of endroits">
            <ion-card>
                <ion-card-content no-padding>
                    <ion-card-title>Nom: {{ endroit.title }}</ion-card-title>
                    <ion-grid no-padding>
                        <ion-row no-padding>
                            <ion-col>
                                <!-- <ion-card-subtitle>Distance: {{ endroit.distance }}m</ion-card-subtitle> -->
                            </ion-col>
                            <ion-col no padding>
                                <ion-button (click)="goToPi(endroit)" float-right>
                                    Itineraire  
                                    <ion-icon name="arrow-forward" end></ion-icon>
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>
</ion-content>
