ion-input[name="photo"]{
    position: absolute;
    float: left;
    margin-left: 80px;
}

ion-card{
    flex-direction: column;
    width: 100%;
    margin: 0;
}

ion-buttons {
    margin-left: auto;
    margin-right: auto;
}